.vscode/
.ipynb_checkpoints/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

saved_models/
wandb/
result_logs/
plot/
__pycache__/
*.md
*.pyc